.idea/
backend/target/
backend/data/
frontend/node_modules/
frontend/dist/
frontend/.vercel-tmp/
frontend/.vercel/
.tools/
.runlogs/
.DS_Store

HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
application-local.yml
*~

run-backend-local.ps1
run-frontend.ps1
*.timestamp-*.mjs

